* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #B4A7D6;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #B4A7D6;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #c58ae7;
}

/* Estilos Responsivos */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
