body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
}




header .logo {
    height: 80px;
}




header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}




header nav ul li {
    margin: 0 10px;
}




header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}




header .user-profile {
    display: flex;
    align-items: center;
}




header .user-initials {
    background-color: #B4A7D6;
    color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}




header .user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}




header .user-details button, header .user-details a {
    background-color: #B4A7D6;
    border: none;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
}




main {
    display: flex;
    flex: 1;
}




.sidebar {
    width: 15%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}




.sidebar .menu-item {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #333;
    border: 2px solid #000000;
}




.sidebar .menu-item.selected {
    background-color: #B4A7D6;
    color: white;
}




.sidebar .dropdown {
    position: relative;
}




.sidebar .dropdown-toggle {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #000000;
    color: #333;
    cursor: pointer;
    font-size: 16px; /* Adjust the font size as needed */
}


.sidebar .dropdown-toggle::after {
    content: ' ▶'; /* Cambiado para indicar despliegue hacia la derecha */
    margin-left: 5px; /* Agregar margen para que el ícono se alinee con el texto */
    transition: all 0.3s ease; /* Animación de transición */
}




.sidebar .dropdown-content {
    display: none;
    position: absolute;
    left: 100%; /* Mover el dropdown a la derecha del botón */
    top: 0;
    width: 100%; /* Asegurar que el ancho sea consistente */
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 2px solid #000000;
    border-radius: 5px;
    overflow: hidden; /* Evitar desbordamiento */
}




.sidebar .dropdown-content .menu-item {
    display: block;
    width: 88%;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #000000; /* Agregar borde */
    text-align: center;
    color: #333;
    text-decoration: none;
    border-radius: 5px; /* Si deseas esquinas redondeadas */
    margin-bottom: 5px; /* Para separar los elementos */
}


.sidebar .menu-item.selected {
    background-color: #B4A7D6;
    color: white;
    font-size: 16px;
}


.sidebar .dropdown-content .menu-item:hover {
    background-color: #bf74eb;
}




.sidebar .dropdown.show .dropdown-content {
    display: block;
}




.no-pointer {
    cursor: default;
}




.menu-item:hover, .dropdown-toggle:hover {
    background-color: #c58ae7;
}

/* Contenedor principal del contenido */
.content {
    width: 100%;
    max-width: 600px; /* Ancho máximo */
    margin: 0 auto;
    padding: 20px; /* Reducir el padding */
    margin-top: 10px;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-height: 400px; /* Altura máxima */
}

/* Contenedor del formulario */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Título del formulario */
h2 {
    font-size: 22px; /* Tamaño del título */
    color: #333;
    margin-bottom: 10px; /* Reducir margen inferior */
    text-align: center;
}

/* Estilo de los párrafos */
p {
    color: #555;
    margin-bottom: 15px; /* Reducir margen inferior */
    font-size: 16px;
    line-height: 1.5;
}


/* Contenedor de los campos de formulario */
.form-group {
    width: 90%;
    margin-bottom: 10px; /* Reducir margen inferior */
}

/* Etiquetas del formulario */
form label {
    font-size: 14px; /* Tamaño de etiqueta */
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px; /* Espacio entre etiqueta y campo */
    display: block;
}

/* Campos de entrada */
form input {
    width: 100%;
    padding: 6px; /* Reducir padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px; /* Espacio superior */
    font-size: 12px; /* Tamaño de la fuente */
}


.update-button {
    background-color: #B4A7D6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    display: block;
    margin: 20px auto 0;
    font-weight: bold;
}



/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .content {
        width: 100%;
        padding: 10px; /* Padding en dispositivos móviles */
    }
    
    form button {
        width: 80%; /* Ajuste para botón en móvil */
        padding: 10px; /* Padding reducido */
    }
    .sidebar {
        width: 30%;
        padding: 10px;
    }
    

    .sidebar .menu-item {
        margin-bottom: 5px;
    }


    .sidebar .menu-item.selected {
        margin-bottom: 5px;
    }


    .header nav ul {
        flex-direction: column;
        align-items: center;
    }


    header nav ul li {
        margin: 5px 0;
    }


    main {
        padding: 10px;
    }
    .language-section {
        text-align: center;
    }

    .search-bar {
        flex-direction: column;
        align-items: stretch;
    }


    .search-input {
        margin-right: 0;
        margin-bottom: 10px;
    }


    .add-button {
        width: 50%;
    }


    .sidebar .dropdown-content .menu-item {
        width: 100%;
    }
}


@media (max-width: 480px) {
    header {
        padding: 10px;
    }


    header .logo {
        height: 60px;
    }


    .add-button {
        padding: 8px 10px;
    }


    .sidebar {
        width: 50%;
        padding: 5px;
    }


    .language-section {
        text-align: center;
        left: 70%;
    }
   
    .sidebar .menu-item {
        font-size: 14px;
        padding: 5px;
    }


    .sidebar .dropdown-toggle {
        font-size: 14px;
        padding: 5px;
    }


    .sidebar .dropdown-content .menu-item {
        width: 100%;
    }
}