* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex: 1;
}

.form-container {
    width: 50%;
    height: 95%;
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.right-side {
    width: 50%;
    background: linear-gradient(to left, #B4A7D6, #F3E9FD, #ffffff);
}

.logo-login {
    display: block;
    margin-bottom: 20px;
    height: 80px; /* Ajusta la altura del logo según sea necesario */
    width: auto;
    align-self: flex-start;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

form label {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
}

form input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid black;
}



button {
    padding: 10px 20px;
    background-color: #B4A7D6;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #c58ae7;
}


/* Media Queries */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .form-container, .right-side {
        width: 100%;
    }

    .form-container {
        padding: 20px;
    }

    form {
        max-width: 100%;
    }

    .logo-login {
        align-self: left;
    }
}

@media (max-width: 480px) {
    form label {
        font-size: 16px;
    }

    form input {
        font-size: 12px;
    }

    button {
        font-size: 14px;
    }
}
