body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
}


h1 {
    font-size: 1.5em;
    color: #ffffff;
    background-color: #B4A7D6;
    text-align: center; /* Centra el texto del encabezado */
    padding: 10px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: left;
    margin-left: 100px;
}


.form-group {
    margin-bottom: 20px;
}


.form-group label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.form-group input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.date-inputs {
    display: flex;
    justify-content: space-between;
}

.date-inputs input {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.submit-button {
    padding: 10px 20px;
    background-color: #B4A7D6;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    text-decoration: none;
    width: 15%;
    text-align: center;
}

button:hover {
    background-color: #c58ae7;
}

footer {
    background-color: #B4A7D6;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Media Queries para diseño responsivo */
@media (max-width: 768px) {
    main {
        justify-content: center;
    }

    .form-container {
        width: 90%;
        margin-left: 0;
    }

    .date-inputs input {
        width: 45%;
    }

    .date-inputs input {
        width: 50%;
    }

    .submit-button {
        width: 20%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em;
        padding: 8px;
    }

    .form-container {
        width: 100%;
        padding: 10px;
    }

    .date-inputs {
        flex-direction: column;
    }

    .date-inputs input {
        width: 97%;
        margin-bottom: 10px;
    }

    .submit-button {
        width: 18%;
    }
}

@media (max-width: 480px) {
    form label {
        font-size: 16px;
    }

    form input {
        font-size: 12px;
    }

    button {
        font-size: 12px;
    }
}