body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
}




header .logo {
    height: 80px;
}




header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}




header nav ul li {
    margin: 0 10px;
}




header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}




header .user-profile {
    display: flex;
    align-items: center;
}




header .user-initials {
    background-color: #B4A7D6;
    color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}




header .user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}




header .user-details button, header .user-details a {
    background-color: #B4A7D6;
    border: none;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
}




main {
    display: flex;
    flex: 1;
}




.sidebar {
    width: 15%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}




.sidebar .menu-item {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #333;
    border: 2px solid #000000;
}




.sidebar .menu-item.selected {
    background-color: #B4A7D6;
    color: white;
}




.sidebar .dropdown {
    position: relative;
}




.sidebar .dropdown-toggle {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #000000;
    color: #333;
    cursor: pointer;
    font-size: 16px; /* Adjust the font size as needed */
}


.sidebar .dropdown-toggle::after {
    content: ' ▶'; /* Cambiado para indicar despliegue hacia la derecha */
    margin-left: 5px; /* Agregar margen para que el ícono se alinee con el texto */
    transition: all 0.3s ease; /* Animación de transición */
}




.sidebar .dropdown-content {
    display: none;
    position: absolute;
    left: 100%; /* Mover el dropdown a la derecha del botón */
    top: 0;
    width: 100%; /* Asegurar que el ancho sea consistente */
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 2px solid #000000;
    border-radius: 5px;
    overflow: hidden; /* Evitar desbordamiento */
}




.sidebar .dropdown-content .menu-item {
    display: block;
    width: 88%;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #000000; /* Agregar borde */
    text-align: center;
    color: #333;
    text-decoration: none;
    border-radius: 5px; /* Si deseas esquinas redondeadas */
    margin-bottom: 5px; /* Para separar los elementos */
}


.sidebar .menu-item.selected {
    background-color: #B4A7D6;
    color: white;
    font-size: 16px;
}


.sidebar .dropdown-content .menu-item:hover {
    background-color: #bf74eb;
}




.sidebar .dropdown.show .dropdown-content {
    display: block;
}




.no-pointer {
    cursor: default;
}




.menu-item:hover, .dropdown-toggle:hover {
    background-color: #c58ae7;
}



.content {
    width: 80%;
    padding: 20px;
}




.delete-container {
    padding: 20px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
}


.delete-container h1 {
    text-align: center;
}
.delete-container p {
    margin-bottom: 20px;
}


.buttons {
    display: flex;
    justify-content: space-around;
}


.btn {
    padding: 10px 20px;
    width: 60px; /* Define un ancho fijo */
    height: 50px; /* Define una altura fija */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none; /* Agrega esta línea para quitar la subrayado */
}


.btn.no {
    background-color: #B4A7D6;
    color: #000000;
    font-weight: bold;
}


.btn.yes {
    background-color: #B4A7D6;
    color: #000000;
    font-weight: bold;
}


.btn:hover {
    background-color: #bf74eb;
    color: white;
}



/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .sidebar {
        width: 30%;
        padding: 10px;
    }


    .sidebar .menu-item {
        margin-bottom: 5px;
    }


    .sidebar .menu-item.selected {
        margin-bottom: 5px;
    }


    header nav ul {
        flex-direction: column;
        align-items: center;
    }


    header nav ul li {
        margin: 5px 0;
    }


    main {
        padding: 10px;
    }


    .sidebar .dropdown-content .menu-item {
        width: 100%;
    }


    .delete-container {
        width: 70%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjusted shadow for medium screens */
    }
}


@media (max-width: 480px) {
    header {
        padding: 10px;
    }


    header .logo {
        height: 60px;
    }



    .sidebar {
        width: 50%;
        padding: 5px;
    }


    .sidebar .menu-item,
    .sidebar .dropdown-toggle {
        font-size: 14px;
        padding: 5px;
    }


    .sidebar .dropdown-content .menu-item {
        width: 100%;
    }


    .delete-container {
        width: 90%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Reduced shadow for smaller screens */
    }
}