body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    z-index: 1;
}

header .logo {
    height: 80px;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header .user-profile {
    display: flex;
    align-items: center;
}

header .user-initials {
    background-color: #B4A7D6;
    color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}

header .user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header .user-details button, header .user-details a {
    background-color: #B4A7D6;
    border: none;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 14px;
}

header .user-details button:hover, 
header .user-details a:hover {
    background-color: #c58ae7; /* Color de fondo al pasar el mouse sobre los botones */
}

main {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 15%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar .menu-item {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #333;
    border: 2px solid #000000; /* Agregar borde */
}

.sidebar .menu-item.selected {
    background-color: #B4A7D6;
    color: white;
    font-size: 16px;
}

.no-pointer {
    cursor: default;
}

.menu-item:hover {
    background-color: #c58ae7;
}

.content {
    width: 80%;
    padding: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espacio inferior para separar del contenido */
}

.search-input {
    padding: 10px 15px; /* Espaciado interno */
    border: 1px solid #b4a7d6; /* Color del borde */
    border-radius: 5px; /* Bordes redondeados */
    width: 300px; /* Ancho del campo de búsqueda */
    transition: border-color 0.3s; /* Transición suave al enfocar */
}

.search-input:focus {
    outline: none; /* Sin contorno */
    border-color: #6f4c7a; /* Color del borde al enfocar */
}

.add-button {
    padding: 10px 20px;
    background-color: #B4A7D6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Asegúrate de que se vea como un botón */
    display: inline-block; /* Asegúrate de que se vea como un botón */
}

.add-button:hover {
    background-color: #c58ae7;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.data-table th {
    background-color: #B4A7D6;
    color: white;
}

.data-table td {
    background-color: #f9f9f9;
}

.edit-button, .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

footer {
    background-color: #B4A7D6;
    padding: 10px;
    text-align: center;
    color: white;
}

.swal-button-ok {
    background-color: #B4A7D6 !important; /* Change this to your desired color */
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    border-radius: 4px !important;
}

/* Media Queries */
@media (max-width: 768px) {
    .sidebar {
        width: 30%; /* Ocupa todo el ancho en dispositivos móviles */
        padding: 10px; /* Ajusta el padding en dispositivos móviles */
    }

    .sidebar .menu-item {
        margin-bottom: 5px; /* Reduce el margen inferior en dispositivos móviles */
    }

    .sidebar .menu-item.selected {
        margin-bottom: 5px; /* Reduce el margen inferior en dispositivos móviles */
    }
    .header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 5px 0;
    }

    main {
        padding: 10px; /* Reducir el padding en dispositivos móviles */
    }

    .search-bar {
        flex-direction: column;
        align-items: stretch;
    }
    
    .search-bar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    

    .add-button {
        width: 50%;
        margin-top: 10px;
    }

    .data-table th, .data-table td {
        padding: 5px; /* Ajustar el padding de las celdas en dispositivos móviles */
    }

    footer {
        padding: 10px;
        width: 115%;
    }
}


@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    header .logo {
        height: 60px;
    }

    .add-button {
        padding: 8px 10px;
    }

    footer {
        padding: 10px;
    }

    .data-table th, .data-table td {
        font-size: 9.9px; /* Reducir el tamaño de fuente de las celdas en dispositivos móviles */
    }
}