/* Estilos para la página principal */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 80px;
  margin-left: 100px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
/* Estilo para los botones del header */
header .button-container {
  display: flex;
  align-items: center;
}

/* Estilo para los botones del header */
header .button-container {
  display: flex;
  align-items: center;
}

header .button-container form:first-child {
  margin-right: 20px; /* Empuja el botón de "Iniciar sesión" hacia la derecha */
}

header .button-container button {
  background-color: #b4a7d6;
  border: none;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 20px;
}

header .button-container form:last-child button {
  margin-right: 150px; /* Ajusta este valor para crear un espacio adecuado a la derecha de "Crear cuenta" */
}

header .button-container button:hover {
  background-color: #c58ae7;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#index-main-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 20px;
  margin-bottom: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin-left: 10%;
  height: auto; /* Ajusta la altura automáticamente al contenido */
  margin-top: 15%;
  margin-right: 10%;
}

main section {
  flex: 1;
  margin: 40px;
}

main section h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

main section p {
  font-size: 23px;
  line-height: 1.5;
}

#index-main-image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 10px;
  max-width: 450px;
  margin: 0 auto;
}

footer {
  background-color: #b4a7d6;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

section {
  margin-bottom: 20px;
}

a {
  color: #b4a7d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header img {
    margin-left: 0;
  }

  header .user-details {
    margin-top: 10px;
  }

  #index-main-section {
    padding: 80px 20px;
    flex-direction: column;
  }

  main section h2 {
    flex: 1 1 100%;
    margin-right: 0;
    margin-top: 20%;
  }

  main section {
    flex: 1 1 100%;
    margin-right: 0;
  }

  #index-main-image img {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px;
  }

  header .user-details button {
    margin-right: 10px;
  }

  #index-main-section {
    padding: 60px 10px;
  }

  main section p {
    font-size: 16px;
  }
}
