/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

/* Estilo del encabezado */
.header {
    width: 100%; /* El header ocupa todo el ancho */
    display: flex;
    justify-content: flex-start; /* Mueve el logo hacia la izquierda */
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Logo */
.logo {
    height: 80px;
    margin-bottom: 10px;
}

/* Contenedor de preguntas frecuentes */
.faq-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Título de la sección */
h1 {
    text-align: center;
    color: #000000; /* Títulos en negro */
}

/* Elemento de pregunta */
.faq-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

/* Pregunta */
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #000000; /* Preguntas en negro */
}

/* Respuesta */
.answer {
    display: none; /* Inicialmente oculta */
    padding-top: 10px;
    color: #555; /* Respuestas en gris */
}

/* Flecha */
.arrow {
    font-size: 18px;
    transition: transform 0.2s ease;
    color: #000000; /* Flechas en negro */
}

/* Flecha animada */
.question:hover .arrow {
    transform: scale(1.2);
}

/* Estilo para el texto de las respuestas */
.answer p {
    margin: 0;
    color: #555; /* Texto de respuestas en gris */
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .faq-container {
        padding: 10px;
    }

    .question {
        font-size: 14px;
    }

    .answer {
        padding-top: 5px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .logo {
        height: 50px;
    }

    .faq-container {
        padding: 5px;
    }

    .question {
        font-size: 12px;
    }

    .answer {
        padding-top: 2px;
    }
}